ParameterizedIncrementalLoading.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"ls_sqldb":{"type":"string"},"ls_adls":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Spotify')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Incremental load for all","type":"ForEach","dependsOn":[],"userProperties":[],"typeProperties":{"items":{"value":"@pipeline().parameters.TableList","type":"Expression"},"isSequential":false,"activities":[{"name":"Old Watermark value","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"select watermarkValue as oldWatermarkValue from [dbo].[watermarktable]\nwhere tableName = '@{item().TableName}'","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"ds_sql_watermarktbl","type":"DatasetReference","parameters":{"SchemaName":{"value":"@item().SchemaName","type":"Expression"},"TableName":{"value":"@item().TableName","type":"Expression"}}}}},{"name":"CurretTimeStamp","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"CurrentTimeStamp","value":{"value":"@utcNow()","type":"Expression"}}},{"name":"New WatermarkValue","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"select max(@{item().WatermarkColumn}) as NewWatermarkValue \nfrom @{item().SchemaName}.@{item().TableName}","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"ds_source_sql","type":"DatasetReference","parameters":{"SchemaName":{"value":"@item().SchemaName","type":"Expression"},"TableName":{"value":"@item().TableName","type":"Expression"},"WatermarkColumn":{"value":"@item().WatermarkColumn","type":"Expression"}}}}},{"name":"New Records Check using Water mark","type":"IfCondition","dependsOn":[{"activity":"Old Watermark value","dependencyConditions":["Succeeded"]},{"activity":"CurretTimeStamp","dependencyConditions":["Succeeded"]},{"activity":"New WatermarkValue","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@greater(\n    activity('New WatermarkValue').output.firstRow.NewWatermarkValue,\n    activity('Old Watermark value').output.firstRow.oldWatermarkValue\n)","type":"Expression"},"ifTrueActivities":[{"name":"Copy data sql to adls","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"SELECT *\nFROM @{item().SchemaName}.@{item().TableName}\nWHERE @{item().WatermarkColumn} > \n'@{activity('Old Watermark value').output.firstRow.OldWatermarkValue}'","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_source_sql","type":"DatasetReference","parameters":{"SchemaName":{"value":"@item().SchemaName","type":"Expression"},"TableName":{"value":"@item().TableName","type":"Expression"},"WatermarkColumn":{"value":"@item().WatermarkColumn","type":"Expression"}}}],"outputs":[{"referenceName":"ds_target_adls","type":"DatasetReference","parameters":{"FileName":{"value":"@concat(item().TableName,'_',variables('CurrentTimeStamp'))","type":"Expression"},"Container":{"value":"@item().TableName","type":"Expression"}}}]},{"name":"update WatermarkValue","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Copy data sql to adls","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[usp_write_watermark]","storedProcedureParameters":{"last_updated":{"value":{"value":"@activity('New WatermarkValue').output.firstRow.NewWatermarkValue","type":"Expression"},"type":"DateTime"},"tableName":{"value":{"value":"@item().TableName","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('ls_sqldb')]","type":"LinkedServiceReference"}}]}}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"TableList":{"type":"array","defaultValue":[{"TableName":"DimArtist","SchemaName":"dbo","WatermarkColumn":"updated_at"},{"TableName":"DimDate","SchemaName":"dbo","WatermarkColumn":"date"},{"TableName":"DimTrack","SchemaName":"dbo","WatermarkColumn":"updated_at"},{"TableName":"DimUser","SchemaName":"dbo","WatermarkColumn":"updated_at"},{"TableName":"FactStream","SchemaName":"dbo","WatermarkColumn":"stream_timestamp"}]}},"variables":{"CurrentTimeStamp":{"type":"String"}},"folder":{"name":"AzureProject"},"annotations":[],"lastPublishTime":"2026-02-27T08:17:52Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_sql_watermarktbl')]","[concat(variables('factoryId'), '/datasets/ds_source_sql')]","[concat(variables('factoryId'), '/datasets/ds_target_adls')]"]},{"name":"[concat(parameters('factoryName'), '/ds_sql_watermarktbl')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_sqldb')]","type":"LinkedServiceReference"},"parameters":{"SchemaName":{"type":"string"},"TableName":{"type":"string"}},"annotations":[],"type":"AzureSqlTable","schema":[],"typeProperties":{"schema":{"value":"@dataset().SchemaName","type":"Expression"},"table":{"value":"@dataset().TableName","type":"Expression"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_source_sql')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_sqldb')]","type":"LinkedServiceReference"},"parameters":{"SchemaName":{"type":"string"},"TableName":{"type":"string"},"WatermarkColumn":{"type":"string"}},"annotations":[],"type":"AzureSqlTable","schema":[],"typeProperties":{"schema":{"value":"@dataset().SchemaName","type":"Expression"},"table":{"value":"@dataset().TableName","type":"Expression"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_target_adls')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls')]","type":"LinkedServiceReference"},"parameters":{"FileName":{"type":"string"},"Container":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().FileName","type":"Expression"},"folderPath":{"value":"@dataset().Container","type":"Expression"},"fileSystem":"bronze"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}